nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5ef578;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: rgb(12, 5, 5);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #e7e7e7;
}

